<!DOCTYPE html>
<html>
  
 <head>
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <link rel="stylesheet" type="text/css" href="style.css">
  
  <title> Doggie Dog World </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<link href= "https://www.1001fonts.com/puppybellies-font.html" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
 <div class= "back">
 <body>
  
  <div class="header"><header>
   <a href="#default" class="logo">Doggie Dog World! }</a>
     <div class="header-right">
        <a class="/index.erb" href="index.erb">Home</a>
        <a href="/quiz.erb">Breed Quiz</a>
        <a href="#about">Budget Quiz</a>
        <a href="/getinvolved.erb">Get Involved</a>
        <a href="/aboutus.erb">About</a>
      </div></header>
    </div>
  
  <h1>
    
  </h1>
  

  </body>
  
</html>